---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = 'About';
const identity = {
	firstName: 'Daniel',
	lastName: 'Hogan',
	age: 30,
	location: 'Michigan',
	occupation: 'Web Developer',
	interests: ['Web Development', 'Reading', 'Video Games', 'Board Games'],
	bio: 'I am a web developer from Michigan. I enjoy reading, video games, and board games.',
};

const response = await fetch(
	'https://api.are.na/v2/channels/portfolio-inspo-m03qvxygskk',
);
interface Block {
  image: {
    large: {
      url: string;
    };
  };
}

const data = await response.json();
const imgUrls = data.contents.map((block: Block) => {
	return block.image ? block.image.large.url : null
});
const imgUrl = imgUrls.filter(Boolean)

---

<BaseLayout pageTitle={pageTitle}>
	<p>{data.title}</p>
	<img src={imgUrl}>
</BaseLayout>
